<div style="text-align: center;">
  <img src="../assets/logo.png" alt="logo"
  width="100"
  height="100"
  class="logo">
  <h1>LC Todo list</h1>

  <div class="container">
    Add todo ...
    <br > 
    <input 
    #box 
    type="text" 
    name="input"
    ng-model="todoValue"
    (keyup)="onKey(box.value)"
    />
    <button class="add-btn" (click)="addItem()">Add todo</button>
  <ul>
    <li *ngFor="let item of list">
      <input 
      type="checkbox"
      name="isDone"
      ng-model="item.isDone"
      />
{{item.value}}
      <button class="btn" (click)="deleteItem(item.id)">Delete</button>
    </li>
  </ul>
  
  </div>
</div>